form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    font-size: 18px;
}

form input[type="text"],
form input[type="file"],
form input[type="checkbox"],
form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

form input[type="text"],
form input[type="file"],
form input[type="checkbox"] {
    background-color: #333333;
    color: #FFFFFF;
    max-width: 400px;
}

form textarea {
    background-color: #333333;
    color: #FFFFFF;
    height: 100px;
    resize: both;
}

form button {
    padding: 15px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #1DB954;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #1AA34A;
}

.content h2 {
    margin-top: 30px;
}

#is_limited {
    position: relative;
    bottom: 27px;
    right: 30px;
}